/*============================= General Styling =============================*/

.card {
    font-family: Arial; 
    font-size: 20px;
    vertical-align: top;
    text-align: left;
    color: black;
    background-color: white;
}

.linux { font-family: "Aozora Mincho Medium"; font-weight: normal}
.mobile { font-family: "myfont"; }
@font-face { font-family: "MSMincho"; src: url('_MSMINCHO.TTF'); }
@font-face { font-family: "Aozora Mincho Medium"; src: url('_AOZORA.TTF'); }

/*=============================== Main Frame ================================*/

#main_frame {
    border: solid;
    border-width: 2px;
    border-collapse: collapse;
    width: 100%;
    border-color:#000000;
}

#main_frame td, #main_frame tr{
    border: solid;
    border-width: 1px;
    border-color:#000000;
}


/*================================ Question/Answer =================================*/

#expression{
    font-family: MSmincho;
    font-size: 80px;
    font-weight: normal;
}

#question{
    font-weight: normal;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#keyword{
    font-family: MSmincho;
    font-size: 40px;
    font-weight: normal;
}

#note{
    font-size: 20px
    font-weight: normal
}

/*Answer*/
#an{
}

#an th{
    border-style: solid none solid; 
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-color:#000000#000000;
    text-align: center;
    font-weight: normal;
}


/*+++++++++++++++++++++++++++++++++ kanji2readings +++++++++++++++++++++++++++++++++*/

/*--------------------------------- BADGES ---------------------------------*/

.badge{
    font-family: MSmincho; 
    font-size: 20px; 
    border-radius: 0px;
    border: solid;
    border-width: 1px;
    margin: 0px;
    white-space: nowrap;
    display: inline;
    display: inline-block;
    margin-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
}

.badge.kun{
    background-color: #01FF70;
}

.badge.on{
    background-color: #7FDBFF;
}

.badge.number_of_readings{
    background-color: #F012BE;
}

#reading_table{
    border: none;
    width: 100%;
}

#reading_table td{
    border: none;
    width:50%;
    text-align: center;
}

/*+++++++++++++++++++++++++++++++++ formatting readings +++++++++++++++++++++++++++++++++*/

#reading_table td:first-child{
    border-right: solid;
    border-right-width: 1px;
    text-align: right;
    border-color:black;
}

#reading_table td:last-child{
    text-align: left;
}

.reading{
    font-family: MSMincho; 
    font-size: 40px; 
    text-align: left; 
    font-weight: normal;
    margin: 5px;
    display: inline-block;
}

.reading.kun{}
.reading.on{}

/*========================= Additional Information ==========================*/

#image{
    text-align: left;
    /*padding-right: 20px;/*  /* compensate for td on the left to make it look 
                             centered wrt the main frame */
}


#image img {
    height: auto;
    width: 300px;
    max-height: 500px;
    margin: 3px;
}

/*+++++++++++++++++++++++++++++++++ Story & Co ++++++++++++++++++++++++++*/

/* 
   Format first/all other columns separetely:
   see http://stackoverflow.com/questions/15675097/style-the-first-td-column-of-a-table-differently
*/

td{
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    vertical-align: top;
    text-align: center;
}

td + td {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

/*+++++++++++++++++++++++++++++++++ Links ++++++++++++++++++++++++++*/

a{
    color: black;
    text-decoration: none;
}

.link{
    border-radius: 25px;
    border: solid;
    border-width: 1px;
    white-space: nowrap;
    display: inline;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 5px;
    margin-top: 5px; 
    background-color: white;
}

.link:hover{
    font-weight: bold;
    background-color: white;
}

.link:active{
    background-color: white;
}

#tools td{
    vertical-align: center;
    border-top-width: 2px;
    border-color:#000000
}

.aligncenter{

    display: inline-block;
	float: center;
	margin:0 auto;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

#container {
    width:100%;
    text-align:center;
}

/*+++++++++++++++++++++++++++++++++ Technical Information ++++++++++++++++++++++++++*/

.technical{
    font-family: Courier; 
    font-size: 15px;
}

#first_technical td{
    /*make border between technical fields and normal data fields thick*/
    border-top-width: 2px;
    border-color:#000000;
}
